* {
    margin: 0;
    padding: 0;
  }
  

.cabeçalho{
    height: 50px;
    width: 100%;
    border: 2px solid;
    display: flex;
    justify-content: space-around;
    background-color: #202020;
    
}

.links__cabeçalho{
   
    margin-top: 15px;
}

.Pesquisar__cabeçalho{

    justify-content: center;
    margin-top: 15px;

}

.link__cabeçalho{
    color: white;
    list-style: none;
    margin-top: 25px;
    justify-content: center;

}

.Sabermais__Nav{
    height: 30px;
    width: 100%;
    border: 2px solid;
    
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: #151515;
    height: 30px;
    margin: 1px;
    width: 100%;
}

.link__Nav{
    color: white;
    list-style: none;
    margin-top: 5px;

}

.Banner__Loki{
    width: 100%;
    justify-content: center;
    
}

.container__banner{

    width: 100%;
}

.banner__capa{
    width: 100%;
    
}
.container__LogoLoki__1{

  

}
.container__LogoLoki__2{

   
 
 }