* {
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
   

  }
  main{

    display: flex;
    flex-direction: row;
  }

  .colunaDireira{
    width: 20%;
    height: 100%;
  }
  .colunaEsquerda{
    width: 20%;
    height: 100%;
  }

  body{
    display: flex;
    flex-direction: column;
    width: 100%;
    

  }
  


/* Links Cabeçalho*/

header{
    border: 1px solid ;
    border-color: #747474;
    background-color: #202020;
}

.container{
    max-width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0 2%;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    
   
}
.Logo{
 
    
    padding: 7px;

}
#img__logo{
    width: 215px;
    height: 55px;
}

.link__a__esquerda{

   display: flex;
   width: 150px;
   
   justify-content: center;
   
   
}
.Pesquisar{
    width: 200px;
    display: flex;
    justify-content: center;
    
}
.link__cabeçalho__sing{
    
    margin-left: 2px;
}
.link__cabeçalho__join{
    
    margin-left: 20px;
}

#linkCabeçalho{
 text-decoration: none;
 color: white;
 align-items: center;
 justify-content: center;
}

/* Nav*/
nav{
    height: 30px;
    background-color: #202020;
    border: 1px solid;
    border-color: #747474;
    
}


.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    list-style-type: none;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
}



/* Banner*/

.Banner__Loki{

    
    height: 600px;
    text-align: center;
    background: url(/assets/images/saberMais/Capa\ Loki\ alta\ resolução.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: self-end;
}

.Botão__Banner{

    height: 80px;
    width: 187px;
    border-color: red;
    background: url('/assets/images/saberMais/Botão\ Assista\ Agora.png');
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 300px;
    margin-left: 180px;
    

}
.Botão__assistirAgora{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* Section*/

section{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 70px;
    
}

.titulo__section{
    font-weight: 150px;
    font-style: bold;
    border: 1px solid;
    padding: 50px;
    
}

.Texto__Section{
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.Texto__Section__1{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 50px;
}

.Texto__Section__2{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    padding: 50px;
    justify-content: space-between;
}
.Texto__Section__3{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    padding: 50px;
    justify-content: space-between;
}
.P1__sectio2{
    width: 220px;
    border: 1px solid;
}
.P2__sectio2{
    width: 220px;
    
    border: 1px solid;
}
.P3__sectio2{
    width: 220px;
    border: 1px solid;
}

.P1__sectio3{
    width: 220px;
    border: 1px solid;
}
.P2__sectio3{
    width: 220px;
    margin-left: 50px;
    border: 1px solid;
}
.P3__secti3{
    width: 220px;
    border: 1px solid;
}