* {
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
   

  }
  main{

    display: flex;
    flex-direction: row;
  }

  .colunaDireira{
    width: 20%;
    height: 100%;
  }
  .colunaEsquerda{
    width: 20%;
    height: 100%;
  }

  body{
    display: flex;
    flex-direction: column;
    width: 100%;
    

  }
  
.container{
    max-width: 100%;
    margin-left:20% ;
    margin-right:20% ;
    height: 73;  
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #202020;
   
}

/* Links Cabeçalho*/
header{
    border: 1px solid ;
    border-color: #747474;
    background-color: #202020;
}

.Logo{
 
    
    padding: 7px;
    

}

#img__logo{
    width: 215px;
    height: 55px;
}

.link__a__esquerda{

   display: flex;
   width: 150px;
   
   justify-content: center;
   
   
}
.Pesquisar{
    width: 200px;
    display: flex;
    justify-content: center;
    
}
.link__cabeçalho__sing{
    
    margin-left: 2px;
}
.link__cabeçalho__join{
    
    margin-left: 20px;
}

#linkCabeçalho{
 text-decoration: none;
 color: white;
 align-items: center;
 justify-content: center;
}

/* Nav*/

nav{
    height: 30px;
    background-color: #151515;
    
    
   
}

.SaberMais__Nav{
    
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
    text-decoration-line: none;
    margin-left:20% ;
    margin-right:20% ;
    
}

/* Banner*/

.Banner__Loki{

    
    height: 500px;
    text-align: center;
    background: url('/assets/images/saberMais/Capa\ Banner\ Loki-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: self-end;
}

.Botão__Banner{

    width: 187px;
    height: 80px;
    background: url('/assets/images/saberMais/Botão\ Assista\ Agora\ \(1\).png');
    position: relative;
    left: 400px;
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.Botão__assistirAgora{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
    
}

.Logo__Loki{
    position: relative;
    bottom: 150px;
    left: 40px;
}

/* Section*/

section{
    display: flex;
    flex-direction:row;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    
}

.titulo__section{
    font-weight: 150px;
    font-style: bold;
    padding: 30px;
    position: relative;
    left: -23px;

    
}

.Texto__Section{
    display: flex;
    flex-direction: column;   
    width: 60%;
}

.Texto__Section__1{
    display: flex;
    flex-direction: column;
    
    padding: 50px;
}

.Texto__Section__2{
    display: flex;
    flex-direction: row;  
    padding: 50px;
    justify-content: space-between;
}
.Texto__Section__3{
    display: flex;
    flex-direction: row;
    
    padding: 50px;
    justify-content: space-between;
}
.P1__sectio2{
    width: 220px;
    
}
.P2__sectio2{
    width: 220px;
    
}
.P3__sectio2{
    width: 220px;
    
}

.P1__sectio3{
    width: 220px;
    
}
.P2__sectio3{
    width: 220px;
    margin-left: 50px;
    
}
.P3__secti3{
    width: 220px;
    
}

.Imagem__Loki{
    height: 400px;
    width: 300px;
    padding-left: 50px;
    padding-top: 130px;
}
