* {

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   

  }
 
  main{

    display: flex;
    flex-direction: row;

  }

  .colunaDireira{

    width: 20%;
    height: 100%;

  }

  .colunaEsquerda{

    width: 20%;
    height: 100%;

  }

  body{

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  
.container{

    max-width: 100%;
    margin-left:5% ;
    margin-right:5% ;
    height: 73;  
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #202020;
   
}

/* Links Cabeçalho*/

header{

    border-bottom: 1px solid ;
    border-color: #747474;
    background-color: #202020;
}

.Logo{
 
    padding: 7px;
    
}

#img__logo{

    width: 215px;
    height: 55px;
}

.link__a__esquerda{

   display: flex;
   width: 150px;
   justify-content: center;
   
   
}
.fa-regular{

    color: white;
}
.Pesquisar{

    width: 200px;
    display: flex;
    justify-content: center;
    
}
.link__cabeçalho__pesquisar{

    font-size: 17px;
}
.link__cabeçalho__sing{
    
    margin-left: 2px;
}
.link__cabeçalho__join{
    
    margin-left: 20px;
}
 
#linkCabeçalho{ 

   text-decoration: none;
   color: white;
   align-items: center;
   justify-content: center;

}

/* Nav*/

nav{

    height: 30px;
    background-color: #151515;

}



.menu{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
    text-decoration-line: none;
    margin-left:5% ;
    margin-right:5% ;
    
}

/* Estiliza os links do menu quando eles são passados com o mouse */

.link__Nav:hover{
    
    
    height: 20px;
    border-bottom: 1.5px solid;
    border-color: #EC1D24;
      
}

/*Banner*/

.Banner__Homem__Aranha{
    
    background: url(./../../images/Kang/banner-kang.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.Titulo__Banner{

    height: 50px;
    width: 100px;

}
.Texto__Banner{
    color: white;
    width: 400px;
    height: 100px;
    padding-left: 150px;
    padding-bottom: 100px;
    
}
.Conteudo__titulo__banner{
    color: white;
    padding-left: 150px;
    padding-bottom: 10px;
    font-size: 60px;
}

/*Main*/

main{

  display: flex;
  flex-direction: column;
  align-items: center;

}

.Section1{

   width: 60%;
   height: 500px;
   display: flex;
   flex-direction: row;
   padding: 70px 0px 30px 0px;
   justify-content: space-evenly;
   


}


#Imagem1__Section1{

    width: 400px;
}

#Titulo__Section1{
    padding-bottom: 30px;
}


.Texto__Section1{

    height: 130px;
    width: 320px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
}

.Section2{

    width: 60%;
    display: flex;
    flex-direction: row;
    padding: 70px 0px 150px 0px;
    justify-content: space-evenly;
    

}

#Imagem1__Section2{

    width: 350px;
    height: 550px;
}

#Titulo__Section2{
    padding-bottom: 30px;
}
.Texto__Section2{

    height: 500px;
    width: 300px;
    display: flex;
    padding-top: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
}

.Texto__Section2 p {
    padding-bottom: 10px;
}
.Section3{

  width: 60%;
  display: flex;
  flex-direction: row;
  padding: 70px 0px 150px 0px;
  justify-content: space-evenly;
  

}

#Titulo__Section3{
    padding-bottom: 30px;
}

#Imagem1__Section3{
    height: 500px;
    width: 320px;
    padding-top: 30px;
}
.Texto__Section3{

    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;

}
.Texto__Section3 p {
    padding-bottom: 10px;
}

/* TRAILER*/

.Trailer__Section{
   
    padding: 50px;
    padding-bottom: 200px;
    

}

.Titulo__Trailer{
    padding-bottom: 50px;
}



/* FOOTER*/

footer{

    height: 290px;
    width: 100%;
    background-color: #202020;
    
}

.rodape {

    height: 190px;
    width: 100%;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}



.Container__Links{

    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    
    
}


.rodape__redeSocial img{

    width: 32px;
    height: 32px;
    left: 20px;
     
}

#Textos__rodape{

    line-height: 25px;
    font-size: 12px;
    
}

#Textos__rodape:hover{
   
    color: #767676;

}
#Links__Rodape{

    text-decoration: none;
    text-decoration-line: none;
    color: white;
    
}

.rodape__logo{

   padding: 20px 0px 0px 300px;

}

.Politicas__de__uso{

    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    color: #767676;
    font-size: 10px;
    padding-top: 40px;
    position: relative;
    bottom: -27px;
}

.Politicas__de__uso :hover{

    color: white;

}