* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabeçalho {
    height: 70px;
    width: 100%;
    border: 2px solid;
    display: flex;
    justify-content: space-around;
    background-color: #202020;
    text-decoration: none;
}

.cabeçalho .links__cabeçalho {
    
    color: white;
    text-decoration: none;
    position: relative;
    left: 15px;
    top: 20px;
    padding: 5px;   
}

.pesquisar__cabeçalho {
    color: white;
    text-decoration: none;
    position: relative;
    left: 0px;
    top: 20px;
}

.logo__cabeçalho {
    margin-top: 7px;
}

.menu {
    padding: 2px 10px;  
    background-color:#151515; 
    color: #333; 
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    text-align: center;
}

/* Estiliza os links do menu */
.menu a {
    display: flex;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

/* Estiliza os links do menu quando eles são passados com o mouse */
.menu a:hover {
    background-color: #202020;
    color: white;
}

.Banner__Loki {
    background-image: url(images/home/image-5.png);
    height: 630px;
    width: 100%;
}

.Banner__Titulo {
    color: white;
    position: relative;
    left: 100px;
    top: 350px;
    font-size: 50px;
}

.Banner__Texto {
    color: white;
    width: 473px;
    height: 90px;
    position: relative;
    left: 100px;
    top: 365px;
    font-size: 25px;
}

.Banner__Link1 {
    color: rgb(255, 255, 255);
    position: relative;
    left: 100px;
    top: 420px;
    text-decoration: none;
    background: #ec1d24;
    border-style:solid;
    border-color: white;
    padding: 10px;
}

.Banner__Link2 {
    color: rgb(255, 255, 255);
    position: relative;
    left: 120px;
    top: 420px;
    text-decoration: none;
    background: #ec1d24;
    border-style:solid;
    border-color: white;
    padding: 10px;
}

.titulo {
    color: black;
    font-size: 40px;
    margin: 100px 0px 10px 90px;

}

.row {
    display: flex;
    justify-content: space-evenly;
    padding:2%;
}

.image-container {
    position: relative;
    display: inline-block;
        
}

.image-container img {
    width: 350px;
    height: 200px;
    margin: 10px 0px 0px 0px;
    
}

.image-container .text {
    position: absolute; 
    color: rgb(0, 0, 0);
    text-align:start;
    
    
}

.text {
    color: black;
    font-size: 20px;
}

.podcast {
    width: 100%;
    height: 650px;
    background-color: #202020;
    background-image: url(images/home/image-6.png);
    background-repeat: no-repeat;
    background-position: 0px 80px;
    margin: 100px 0px 100px 0px;
}

.podcast__titulo {
    color: white;
    position: relative;
    left: 480px;
    top: 210px;
    font-size: 55px;
}

.podcast__texto {
    color: white;
    position: relative;
    left: 480px;
    top: 220px;
    width: 610px;
    height: 72px;
    font-size: 25px;

}

.podcast .podcast__link {
    
    color: white;
    text-decoration: none;
    text-align:end;
    position: relative;
    left: 480px;
    top: 320px;
    background-color:#ec1d24;
    border-style:solid;
    border-color: white;
    padding: 10px;
    
}

.podcast .podcast__link2 {
    
    color: white;
    text-decoration: none;
    text-align:end;
    position: relative;
    left: 480px;
    top: 360px;
    background-color:#ec1d24;
    border-style:solid;
    border-color: white;
    padding: 10px;
}

.novidades {
    width: 1050px;
    height: 1780px;
}

.novidades__titulo {
    color: black;
    font-size: 40px;
    margin: 50px 0px 50px 90px;
}

.novidades__imagem {
    width: 650px;
    height: 350px;
    margin: 0px 0px 0px 90px;
    
    
}

.novidades p {
    color: black;
    position: relative;
    left: 780px;
    top: -355px;
    width: 400px;
    height: 60px;
    font-size: 25px;
}

.novidades2 {
    width: 100%;
    height: 800px;
    background-color: #202020;
    margin-top: 300px;
}

.video1 {
    position: relative;
    left: 90px;
    top:50px;
}

.video2 {
    position: relative;
    left: 1010px;
    top: -610px;
}

.video2 li {
    list-style-type: none;
}

.video__texto {
    color: white;
    position: relative;
    left: 95px;
    top: 60px;
    width: 550px;
    height: 72px;
    font-size: 25px;
}

.video__texto2 {
    color: white;
    position: relative;
    left: 95px;
    top: 50px;
    width: 520px;
    height: 20px;
    font-size: 15px;
}

.video__texto3 {
    color: white;
    position: relative;
    left: 95px;
    top: 70px;
    width: 520px;
    height: 72px;
    font-size: 15px;
}

.rodape {
    background-color: #101010;
    font-size: 20px;

}

.rodape img {
    position: relative;
    left: 90px;
    top: 20px;
}

.rodape__links {
    color: white;
    position: relative;
    
    left: 180px;
    top: 60px;

}

.rodape__links2 {
    color: white;
    position: relative;
    
    left: 515px;
    top: -35px;

}

.rodape__links3 {
    color: white;
    position: relative;
    
    left: 715px;
    top: -105px;

}

.rodape__links4 {
    color: white;
    position: relative;
    
    left: 1015px;
    top: -150px;

}

.rodape__redeSocial img{
    width: 32px;
    height: 32px;
    left: 20px;
    
}