* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body{

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  
.container{

    max-width: 100%;
    margin-left:5% ;
    margin-right:5% ;
    height: 73;  
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #202020;
   
}

/* Links Cabeçalho*/

header{

    border-bottom: 1px solid ;
    border-color: #747474;
    background-color: #202020;
}

.Logo{
 
    padding: 7px;
    
}

#img__logo{

    width: 215px;
    height: 55px;
}

.link__a__esquerda{

   display: flex;
   width: 150px;
   justify-content: center;
   
   
}
.fa-regular{

    color: white;
}
.Pesquisar{

    width: 200px;
    display: flex;
    justify-content: center;
    
}
.link__cabeçalho__pesquisar{

    font-size: 17px;
}
.link__cabeçalho__sing{
    
    margin-left: 2px;
}
.link__cabeçalho__join{
    
    margin-left: 20px;
}
 
#linkCabeçalho{ 

   text-decoration: none;
   color: white;
   align-items: center;
   justify-content: center;
   font-size: 13px;

}



/* Nav*/

nav{

    height: 30px;
    background-color: #151515;
    

}



.menu{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 7px;
    text-decoration: none;
    text-decoration-line: none;
    margin-left:5% ;
    margin-right:5% ;
    
}

/* Estiliza os links do menu quando eles são passados com o mouse */

.link__Nav:hover{
    
    
    height: 20px;
    border-bottom: 1.5px solid;
    border-color: #EC1D24;
    cursor: pointer;
    
    
}

/*slideshow*/

.carousel-inner img {
    height: 85vh;
    object-fit: cover;

}

.carousel-caption h2,
p {
    position: relative;
    text-align: left;
    width: 450px;
    left: -50px
}

.carousel-caption h2 {
    font-size: 50px;
    bottom: 100px;
}

.carousel-caption p {
    font-size: 25px;
    bottom: 100px;

}

.carousel-caption a {
    position: relative;
    width: 450px;
    left: -395px;
    bottom: 50px;
    padding: 20px;
    background-image: url(./images/home/botao.png);
    background-repeat: no-repeat;
    text-decoration: none;
    color: white;


}

.carousel-caption .banner-link {
    color: white;
    text-decoration: none;
}

.carousel-caption .banner-link2 {
    color: white;
    text-decoration: none;
    left: -465px;
}

/*fim slideshow*/


.galeria{
    margin-top: 150px;
    position: relative;
    
}


.titulo {
    color: black;
    font-size: 55px;
    margin: -76px 0px 10px 100px;
    font-weight: bolder;
    align-items: start;

}

.titulo2 {
    color: black;
    font-size: 55px;
    margin: -76px 0px 10px 100px;
    font-weight: bolder;
    align-items: start;

}


.row {
    display: flex;
    flex-direction: row;
    padding: 2%;
    width: 100%;

}

#row {

    margin-top: 150px;
}


.image-container {
    position: relative;
    display: inline-block;


}

.image-container img {
    width: 400px;
    height: 230px;
    margin: 20px 20px 0px 0px;
    object-fit:cover;
    cursor: pointer;


}

.image-container .text {
    position: absolute;
    text-align: start;
    color: black;
    font-size: 18px;
    font-weight: bold;
    width: 400px;
    padding: 2px 0 0 5px;
    cursor: pointer;
}

.image-container .text:hover{

    color: red;

}


.podcast {
    width: 100%;
    height: 800px;
    background-image: url(../assets/images/home/background-podcast.png);    
    background-repeat: no-repeat;
    background-position: 0px 80px;
}

.podcast img {
    height: 520px;
    width: 300px;
    margin-top: 180px;

}

.podcast__titulo {
    color: white;
    position: relative;
    left: 450px;
    top: -430px;
    font-size: 55px;
    font-weight: bolder;
}

.podcast__texto {
    color: white;
    position: relative;
    left: 450px;
    top: -400px;
    width: 650px;
    height: 72px;
    font-size: 25px;
}

.botao__podcast1 {

    background-image: url(../assets/images/home/Botão-podcast-1.png) ;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    position: relative;
    top: -350px;
    left: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.botao__podcast1:hover{

    background-image: url(../assets/images/home/Botão-podcast-1\ hover\ \(1\).png) ;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    position: relative;
    top: -350px;
    left: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    
   

}

.botao__podcast2 {

    background-image: url(../assets/images/home/Botão-podcast-2.png) ;
    background-repeat:no-repeat;
    width: 250px;
    height: 50px;
    position: relative;
    top: -310px;
    left: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.botao__podcast2:hover{

    background-image: url(../assets/images/home/Botão-podcast-2\ hover.png) ;
    background-repeat:no-repeat;
    width: 250px;
    height: 50px;
    position: relative;
    top: -310px;
    left: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.podcast .podcast__link {

    color: white;
    text-decoration: none;
    
}

.podcast .podcast__link2 {

    color: white;
    text-decoration: none;
    
}


article{

    display: flex;
    flex-direction: column;
    align-items:center;
    
    height: 1600px;

}

.container__Novidades{
    
    width: 70%;
    display: flex; 
    justify-content: flex-start;
    text-decoration: none;
    flex-direction: column;
}

.novidades {
    width: 1050px;
    height: 1780px;
    list-style-type: none;
    
}


.novidades__titulo {

    color: black;
    font-size: 40px;
    margin: 20px 0px 50px 0px;
    
   
}

.novidades__imagem {

    width: 480px;
    height: 300px;
    cursor: pointer;

    
}

.novidades p {

    color: black;
    position: relative;
    left: 520px;
    top: -300px;
    width: 400px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;

}

.novidades p:hover{

   color: #EC1D24;

}

.novidades2 {

    width: 100%;
    height: 800px;
    background-color: #141414;
    background-image: url(../assets/images/home/Background-videos-3.png);
    background-repeat: no-repeat ;
    margin-top: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Videos__novidades2{

    
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    
    
    
}

.video1 {

    position: relative;
    left: 0px;
    top: 50px;
}

.video2 {

    height: 400px;
    width:300 ;
    position: relative;
    left: 0px;
    top: 50px;
    display: flex;
    flex-direction: column;
    

}



.video2 ul {
  
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 15px;
    

}

.video2__video{
    padding-top:10px;
}

.video2 ul::-webkit-scrollbar{

    
    background-color: white;
    border-radius: 10px;
    width: 10px;
    
    

}

.video2 ul::-webkit-scrollbar-thumb{

    
    background-color: #EC1D24;
    border-radius: 4px;
    width: 7px;
  
  
}

.video2 li {
    list-style-type: none;
}

.Textos__Novidades2{

    display: flex;
    flex-direction: column;
    width: 70%;
    height: 250px;
       
}

.video__texto {

    color: white;
    width: 500px;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
}

.video__texto2 {

    color: white;
    position: relative;
    width: 520px;
    height: 20px;
    font-size: 17px;
    padding: 10px 0px 10px 0px;
}

.video__texto3 {

    color: white;
    position: relative;
    width: 500px;
    height: 72px;
    font-size: 13px;
}

/* FOOTER*/

footer{

    height: 290px;
    width: 100%;
    background-color: #202020;
    
}

.rodape {

    height: 190px;
    width: 100%;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}



.Container__Links{

    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    
    
}


.rodape__redeSocial img{

    width: 32px;
    height: 32px;
    left: 20px;
     
}

#Textos__rodape{

    line-height: 25px;
    font-size: 12px;
    
}

#Textos__rodape:hover{
   
    color: #767676;

}
#Links__Rodape{

    text-decoration: none;
    text-decoration-line: none;
    color: white;
    
}

.rodape__logo{

   padding: 20px 0px 0px 300px;

}

.Politicas__de__uso{

    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    color: #767676;
    font-size: 10px;
    padding-top: 40px;
    position: relative;
    bottom: -27px;
}

.Politicas__de__uso :hover{

    color: white;

}

