* {
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}

body{

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  
.container{

    max-width: 100%;
    margin-left:5% ;
    margin-right:5% ;
    height: 73;  
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #202020;
   
}

/* Links Cabeçalho*/

header{

    border-bottom: 1px solid ;
    border-color: #747474;
    background-color: #202020;
}

.Logo{
 
    padding: 7px;
    
}

#img__logo{

    width: 215px;
    height: 55px;
}

.link__a__esquerda{

   display: flex;
   width: 150px;
   justify-content: center;
   
   
}
.fa-regular{

    color: white;
}
.Pesquisar{

    width: 200px;
    display: flex;
    justify-content: center;
    
}
.link__cabeçalho__pesquisar{

    font-size: 17px;
}
.link__cabeçalho__sing{
    
    margin-left: 2px;
}
.link__cabeçalho__join{
    
    margin-left: 20px;
}
 
#linkCabeçalho{ 

   text-decoration: none;
   color: white;
   align-items: center;
   justify-content: center;

}

/* Nav*/

nav{

    height: 30px;
    background-color: #151515;

}



.menu{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
    text-decoration-line: none;
    margin-left:5% ;
    margin-right:5% ;
    
}

/* Estiliza os links do menu quando eles são passados com o mouse */

.menu a:hover {

    background-color: #202020;
    color: white;
    height: 100px;
}

.Banner__Loki {

    background-image: url(../assets/images/home/loki-banner.jpg);
    background-size: cover;
    height: 630px;
    width: 100%;
}

.Banner__Titulo {
    color: white;
    position: relative;
    left: 100px;
    top: 300px;
    font-size: 55px;
    font-weight: bolder;

}

.Banner__Texto {
    color: white;
    width: 473px;
    height: 90px;
    position: relative;
    left: 100px;
    top: 315px;
    font-size: 25px;
}

.botao__banner1 {
    background-image: url(/assets/images/home/botao.png) ;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: relative;
    top: 350px;
    left: 100px;
}

.botao__banner2 {
    background-image: url(/assets/images/home/botao.png) ;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: relative;
    top: 150px;
    left: 260px;
}


.Banner__Link {
    color: rgb(255, 255, 255);
    position: relative;
    left: 85px;
    top: -30px;
    text-decoration: none;
    padding: 0 40px 0 30px

}

.galeria{
    margin: auto;
}

.titulo {
    color: black;
    font-size: 55px;
    margin: 100px 0px 10px 25px;
    font-weight: bolder;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}


.image-container {
    position: relative;
    display: inline-block;


}

.image-container img {
    width: 400px;
    height: 230px;
    margin: 20px 20px 0px 0px;
    object-fit:cover;

}

.image-container .text {
    position: absolute;
    text-align: start;
    color: black;
    font-size: 18px;
    font-weight: bold;
    width: 400px;
    padding: 2px 0 0 5px;
}


.podcast {
    width: 100%;
    height: 800px;
    background-image: url(/assets/images/home/background-podcast.png);    
    background-repeat: no-repeat;
    background-position: 0px 80px;
}

.podcast img {
    height: 520px;
    width: 300px;
    padding-top: 180px;

}

.podcast__titulo {
    color: white;
    position: relative;
    left: 450px;
    top: -410px;
    font-size: 55px;
    font-weight: bolder;
}

.podcast__texto {
    color: white;
    position: relative;
    left: 450px;
    top: -380px;
    width: 650px;
    height: 72px;
    font-size: 25px;
}

.botao__podcast1 {
    background-image: url(../assets/images/home/botao-podcast1.png) ;
    background-repeat: no-repeat;
    width: 100px;
    height: 200px;
    position: relative;
    top: -320px;
    left: 450px;

}

.botao__podcast2 {
    background-image: url(../assets/images/home/botao-podcast2.png) ;
    background-repeat:no-repeat;
    width: 400px;
    height: 200px;
    position: relative;
    top: -460px;
    left: 450px;

}

.podcast .podcast__link {

    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
    left: 472px;
    top: -505px;


}

.podcast .podcast__link2 {

    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
    left: 460px;
    top: -645px;
    padding: 10px;

}

.novidades {
    width: 1050px;
    height: 1780px;
}

.novidades__titulo {
    color: black;
    font-size: 40px;
    margin: 20px 0px 50px 90px;
}

.novidades__imagem {
    width: 650px;
    height: 350px;
    margin: 0px 0px 0px 90px;


}

.novidades p {
    color: black;
    position: relative;
    left: 780px;
    top: -355px;
    width: 400px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
}

.novidades2 {
    width: 100%;
    height: 800px;
    background-image: url(/assets/images/home/background-videos.png);
    background-repeat: no-repeat ;
    margin-top: 320px;
}

.video1 {
    position: relative;
    left: 90px;
    top: 50px;
}

.video2 {
    position: relative;
    left: 900px;
    top: -618px;
    display: flex;
}

.video2 li {
    list-style-type: none;
}

.video__texto {
    color: white;
    position: relative;
    left: 95px;
    top: 60px;
    width: 500px;
    height: 72px;
    font-size: 25px;
    font-weight: bolder;
}

.video__texto2 {
    color: white;
    position: relative;
    left: 95px;
    top: 60px;
    width: 520px;
    height: 20px;
    font-size: 15px;
}

.video__texto3 {
    color: white;
    position: relative;
    left: 95px;
    top: 80px;
    width: 500px;
    height: 72px;
    font-size: 15px;
}

/* FOOTER*/

footer{

    height: 300px;
    width: 100%;
    background-color: #101010;
    
}

.rodape {

    height: 350px;
    width: 100%;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    

}

.Container__Links{

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding: 0px 100px 0px 100px;
    
}


.rodape__redeSocial img{

    width: 32px;
    height: 32px;
    left: 20px;
     
}

#Textos__rodape{

    line-height: 40px;
    font-size: 15px;
    
}
#Links__Rodape{

    text-decoration: none;
    text-decoration-line: none;
    color: white;
    
}

.rodape__logo{

    position: relative;
    left: 100px;
    top: -20px;
}

.Politicas__de__uso{

    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-size: 10px;
    padding-left: 150px;
    padding-top: 40px;
    position: relative;
    bottom: -26px;
}