* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabeçalho {
    height: 70px;
    width: 100%;
    border: 2px solid;
    display: flex;
    justify-content: space-around;
    background-color: #202020;
}

.links__cabeçalho {
    
    color: white;
    margin-top: 20px;
    text-decoration: none;
    

}

.pesquisar__cabeçalho {
    margin-top: 20px;
}

.logo__cabeçalho {
    margin-top: 7px;
}

.menu {
    padding: 2px 10px;  
    background-color:#151515; 
    color: #333; 
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    text-align: center;
}

/* Estiliza os links do menu */
.menu a {
    display: flex;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

/* Estiliza os links do menu quando eles são passados com o mouse */
.menu a:hover {
    background-color: #202020;
    color: white;
}

.Banner__Loki {
    background-image: url(../images/home/image-5.png);
    height: 630px;
    width: 100%;
}

.Banner__Titulo {
    color: white;
    position: relative;
    left: 100px;
    top: 350px;
    font-size: 50px;
}

.Banner__Texto {
    color: white;
    width: 473px;
    height: 90px;
    position: relative;
    left: 100px;
    top: 365px;
    font-size: 25px;
}

.Banner__Link1 {
    color: rgb(255, 255, 255);
    position: relative;
    left: 130px;
    top: 420px;
    text-decoration: none;
    background: #ec1d24;
    padding: 10px;
}

.Banner__Link2 {
    color: rgb(255, 255, 255);
    position: relative;
    left: 180px;
    top: 420px;
    text-decoration: none;
    background: #ec1d24;
    padding: 10px;
}


.marvel .marvel__titulo {
    position: relative;
    font-size: 40px;
    left: 100px;
    top: 0px;
    width: 210px;
    height: 60px;

}

.marvel__imagens1 {
    display: flex;
    height: 200px;
    justify-content:space-around;
    margin: 5px 80px 5px 80px;
}

.marvel__textoImagem1 {
    display: flex;
    width: 300px;
    height: 40px;
    margin: 5px 500px 5px 100px;
}

.marvel__textoImagem2 {
    display: flex;
    width: 350px;
    height: 40px;
    margin: -45px 300px 5px 500px;
}

.marvel__textoImagem3 {
    display: flex;
    width: 350px;
    height: 40px;
    margin: -45px 300px 5px 895px;
}

.marvel__imagens2 {
    display: flex;
    height: 200px;
    justify-content:space-around;
    margin: 20px 80px 5px 80px;
}

.marvel__textoImagem4 {
    display: flex;
    width: 300px;
    height: 40px;
    margin: 5px 500px 5px 100px;
}

.marvel__textoImagem5 {
    display: flex;
    width: 350px;
    height: 40px;
    margin: -45px 300px 5px 500px;
}

.marvel__textoImagem6 {
    display: flex;
    width: 350px;
    height: 40px;
    margin: -45px 300px 5px 895px;
}

.dc .dc__titulo {
    position: relative;
    font-size: 40px;
    left: 100px;
    top: 20px;
    width: 210px;
    height: 60px;

}

.dc__imagens1 {
    display: flex;
    height: 200px;
    justify-content:space-around;
    margin: 20px 80px 5px 80px;
}

.dc__textoImagem1 {
    display: flex;
    width: 300px;
    height: 40px;
    margin: 5px 500px 5px 100px;
}

.dc__textoImagem2 {
    display: flex;
    width: 350px;
    height: 40px;
    margin: -45px 300px 5px 500px;
}

.dc__textoImagem3 {
    display: flex;
    width: 350px;
    height: 40px;
    margin: -45px 300px 5px 895px;
}

.dc__imagens2 {
    display: flex;
    height: 200px;
    justify-content:space-around;
    margin: 20px 80px 5px 80px;
}

.dc__textoImagem4 {
    display: flex;
    width: 350px;
    height: 40px;
    margin: 5px 500px 5px 100px;
}

.dc__textoImagem5 {
    display: flex;
    width: 350px;
    height: 40px;
    margin: -45px 300px 5px 500px;
}

.dc__textoImagem6 {
    display: flex;
    width: 350px;
    height: 40px;
    margin: -45px 300px 5px 895px;
}

.podcast {
    width: 100%;
    height: 850px;
    background-color: #202020;

}

.podcast__titulo {
    color: white;
    text-align: center;
    font-size: 45px;
    

}

.podcast__texto {
    color: white;
    text-align: center;
    font-size: 15px;
}
