* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body{

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  
.container{

    max-width: 100%;
    margin-left:5% ;
    margin-right:5% ;
    height: 73;  
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #202020;
   
}

/* Links Cabeçalho*/

header{

    border-bottom: 1px solid ;
    border-color: #747474;
    background-color: #202020;
}

.Logo{
 
    padding: 7px;
    
}

#img__logo{

    width: 215px;
    height: 55px;
}

.link__a__esquerda{

   display: flex;
   width: 150px;
   justify-content: center;
   
   
}
.fa-regular{

    color: white;
}
.Pesquisar{

    width: 200px;
    display: flex;
    justify-content: center;
    
}
.link__cabeçalho__pesquisar{

    font-size: 17px;
}
.link__cabeçalho__sing{
    
    margin-left: 2px;
}
.link__cabeçalho__join{
    
    margin-left: 20px;
}
 
#linkCabeçalho{ 

   text-decoration: none;
   color: white;
   align-items: center;
   justify-content: center;

}

#linkCabeçalho:hover{
    color: #EC1D24;
}

/* Nav*/

nav{

    height: 30px;
    background-color: #151515;

}



.menu{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
    text-decoration-line: none;
    margin-left:5% ;
    margin-right:5% ;
    
}

/* Estiliza os links do menu quando eles são passados com o mouse */

.menu a:hover {

    background-color: #202020;
    color: white;
    height: 100px;
}

.banner__personagens {
    background-image: url(./../../images/personagens/banner-personagens.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.banner__titulo {
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-align: center;

}

.banner__texto {
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 250px;
    text-align: center;

}

/*conteúdo principal*/

h2 {
    margin: 50px 100px 25px 300px;
    font-size: 45px;
    font-weight: bold;
    text-align: left;

}

.Section{

    display: flex;
    flex-direction: column;
    align-items: left;
    
}

.galeria {

    display: flex;  
    gap: 20px;
    margin-left: 300px;
    align-items: center;
    width: 60%;
    height: 450px;
    
    
}

@media screen and (max-width: 1500px) {
   
    .galeria {

        display: flex;  
        gap: 20px;
        margin-left: 300px;
        align-items: center;
        width: 60%;
        height: 450px;
        overflow: hidden;
        overflow-x: scroll;
        
        
    }
    
    .galeria::-webkit-scrollbar{

        
        background-color: #151515;
        border-radius: 10px;
        
    
    }
    
    .galeria::-webkit-scrollbar-thumb{
    
      background-color: #EC1D24;
      border-radius: 10px;
      
      
    }
    
}



.galeria__item {
    
    flex-direction: column;
    background-color: #202020;
    border-radius: 0 0 50px 0;
    width: 200px;
    height: 350px;
    padding-bottom: 20px;
    

}



.galeria__item img {
    width: 200px;
    height: 280px;
    object-fit:cover;
}

.galeria__item p {
    color: white;
    text-align: left;
    font-size: 15px;
    padding: 10px 20px 30px 20px;
    
}

.galeria__item a {
    text-decoration: none;
}

.galeria__item:hover {
    background-color: #EC1D24;
    border-radius: 0 0 50px 0;
    color: white;
    scale: 1.05;
    transition: 1.5s;
}



#Titulos__Section{

    display: flex;
    flex-direction:row;
    justify-content: flex-start;  
}

/*

@media screen and (max-width: 1800px) {

    .galeria__item {
        display: flex;
        flex-direction: column;
        background-color: #202020;
        border-radius: 0 0 50px 0;
        width: 160px;
        height: 300px;
    }
    .galeria__item img {

        width: 160px;
        height: 250px;
        object-fit:cover;
    } 

    .galeria__item p {
        color: white;
        text-align: left;
        font-size: 13px;
        font-weight: bold;
        padding: 20px 30px 30px 20px;
        
    }
    
}  */

/* FOOTER*/

footer{

    height: 300px;
    width: 100%;
    background-color: #101010;
    
}

.rodape {

    height: 350px;
    width: 100%;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    

}

.Container__Links{

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding: 0px 100px 0px 100px;
    
}


.rodape__redeSocial img{

    width: 32px;
    height: 32px;
    left: 20px;
     
}

#Textos__rodape{

    line-height: 40px;
    font-size: 15px;
    
}
#Links__Rodape{

    text-decoration: none;
    text-decoration-line: none;
    color: white;
    
}

.rodape__logo{

    position: relative;
    left: 100px;
    top: -20px;
}

.Politicas__de__uso{

    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-size: 10px;
    padding-left: 150px;
    padding-top: 40px;
    position: relative;
    bottom: -26px;
}